<h2>

    #SAP MM Material Management</h2>

<button>Statics</button>&nbsp;
<button>General</button>&nbsp;
<button>Description</button>&nbsp;
<button>Course topics</button>&nbsp;
<button>Pricing</button>&nbsp;


<table>
    <tr>
        <th>Course ID</th>
        <th>Course Name</th>
        <th>Minute watch time</th>
        <th>Sales</th>
        <th>Enrollments</th>

    </tr>
    <tr>
        <td>#SAP MM Material Management</td>
        <td>56 Minutes</td>
        <td>570</td>
        <td>570</td>
        <td>500</td>

    </tr>
    <tr>

        <td>#SAP MM Material Management</td>
        <td>56 Minutes</td>
        <td>570</td>
        <td>570</td>
        <td>500</td>

    </tr>
    <tr>

        <td>#SAP MM Material Management</td>
        <td>56 Minutes</td>
        <td>570</td>
        <td>570</td>
        <td>500</td>

    </tr>
    <tr>

        <td>#SAP MM Material Management</td>
        <td>56 Minutes</td>
        <td>570</td>
        <td>570</td>
        <td>500</td>

    </tr>
    <tr>

        <td>#SAP MM Material Management</td>
        <td>56 Minutes</td>
        <td>570</td>
        <td>570</td>
        <td>500</td>

    </tr>
    <tr>

        <td>#SAP MM Material Management</td>
        <td>56 Minutes</td>
        <td>570</td>
        <td>570</td>
        <td>500</td>

    </tr>
</table>